@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

section.section {
    padding: 60px 0;
}

.main-heading h2 {
    font-size: 30px;
    font-weight: 600;
    color: #b71c2b;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
    position: relative;
}

.international-care .main-heading h2 {
    color: #000000;
}

.main-heading-light h2 {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
    position: relative;
}

.main-heading-light h2 span {
    color: #fccf0a;
}

.main-heading-light h3 {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}

.main-heading h2 span {
    font-size: 30px;
    color: #b71c2b;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

.main-heading h3 {
    position: relative;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #000000;
    display: inline-block;
    margin-bottom: 15px;
}

.main-heading h5 {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #b71c2b;
    margin-bottom: 8px;
}

/* .main-heading h3::before {
    content: '';
    position: absolute;
    background: #333333;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
} */

.sub-heading-light p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.sub-heading p {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.main-list ul li strong {
    font-family: "Montserrat", sans-serif;
}

.main-list ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #000;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    font-family: "Montserrat", sans-serif;
    padding: 5px 0 0 30px;
}

.main-list ul li::before {
    content: '';
    position: absolute;
    background: url(../img/cancer-type-li.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    top: 0;
    left: -15px;
    border-radius: 100%;
}

.main-list ul {
    margin-bottom: 10px;
    padding-left: 1rem;
}



/* ================================== */
/* menu link */

.zx-nav-shell {
    position: relative;
}

/* burger */

.zx-burger-trigger {
    width: 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2000;
}

.zx-burger-trigger span {
    height: 3px;
    width: 100%;
    background: #2c64af;
    transition: .4s;
    border-radius: 30px;
}

/* burger animation */

.zx-burger-trigger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}

.zx-burger-trigger.active span:nth-child(2) {
    opacity: 0;
}

.zx-burger-trigger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}


/* panel */

.zx-panel-layer {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 30%;
    height: auto;
    background: #ffffff;
    transition: .6s cubic-bezier(.77, 0, .175, 1);
    border: 2px solid #2b61aa;
    padding: 0;
    overflow: auto;
}

.zx-panel-layer.open {
    right: 0;
}


/* menu */

.menu-items {
    padding: 16px 0 130px 22px;
}

.zx-menu-core {
    list-style: none;
    padding: 0;
    margin: 0;
}

.zx-menu-core li {
    margin: 0 0;
    padding-top: 4px;
    margin-bottom: 4px;
}

.zx-menu-core a {
    color: #2d64af;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    position: relative;
}

.zx-menu-core a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #2b61aa;
    transition: .5s;
}

.zx-menu-core a:hover {
    letter-spacing: 1px;
}

.zx-menu-core a:hover::before {
    width: 100%;
}


/* dropdown animation */

.zx-drop-layer,
.zx-subdrop-layer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
    padding-left: 20px;
    width: 100% !important;
}

.zx-has-drop.active>.zx-drop-layer {
    max-height: 400px;
    position: unset;
    width: 100%;
    box-shadow: none;
    padding: 0 15px;
    background: #ebf4ff;
}

.zx-has-subdrop.active>.zx-subdrop-layer {
    max-height: 300px;
}


/* arrows */

.zx-has-drop>a::after,
.zx-has-subdrop>a::after {
    content: "+";
    float: right;
    transition: .3s;
    position: absolute;
    top: 0;
    right: -30px;
}

.zx-has-drop.active>a::after,
.zx-has-subdrop.active>a::after {
    transform: rotate(45deg);
}

.zx-menu-core:hover .zx-drop-layer {
    background-color: none;
    box-shadow: inherit;
    border-top: inherit;
    width: inherit;

}

.zx-drop-layer li {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    list-style: none;
}

.zx-menu-core {
    margin: 0 0;
}

.navik-header.sticky .zx-panel-layer {
    position: fixed;
    top: 100%;
}


/* ============ Custom Css Start ============== */
.navik-menu>ul>li>a.navbar-button,
.navbar-button {
    padding: 5px 10px !important;
    background: #fccf0a;
    color: #000000;
    height: 35px !important;
    border: 1px solid #fccf0a;
    transition: .5s;
    font-weight: 500;
    font-size: 15px;
    border-radius: 4px;
}

.navik-menu>ul>li>a.navbar-button:hover,
.navbar-button:hover {
    background: #fff;
}

/* .banner-section {
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
} */

/* @media (min-width: 1180px) and (max-width: 1550px) {
    .banner-section {
        height: 600px;
    }
} */

.menu-top-bar {
    padding: 8px 0;
    background-color: #ffffff;
}

.menu-top-bar ul {
    padding: 0;
    margin: 0;
}

.menu-top-bar .header-contact ul li {
    list-style: none;
    display: inline-block;
    padding: 0 12px;
}

.menu-top-bar .header-contact ul li a {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    background-color: #b71c2b;
}

.banner-left-content {
    max-width: 71%;
}

.banner-left-content h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    line-height: normal;
    font-weight: 600;
}

.banner-left-content p {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: normal;
}

.banner-form .form-group-icon .form-control,
.banner-form .form-group-icon .form-select {
    padding: 8px 12px 8px 35px;
}

.form-check-label {
    font-size: 15px;
}

.banner-form .form-control:focus,
.banner-form .form-select:focus {
    box-shadow: none;
}

.cta-section {
    background: #b71c2b;
}

.cta-card .cta-card-top h4 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
}

.cta-card .cta-card-top h4::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    background: #fff;
    width: 50%;
    height: 2px;
}

.card-ic img {
    width: 40px;
}

.card-ic {
    width: 15%;
}

.usp-card-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
}

.usp-card-content {
    width: 75%;
}

.expert-section {
    background: url(../img/cancer-type-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second-opinion-section {
    background: linear-gradient(90deg, rgba(183, 28, 43, 1) 61.5%, rgba(241, 241, 241, 1) 56%);
}

@media (min-width: 1180px) and (max-width: 1550px) {
    .second-opinion-section {
        background: linear-gradient(90deg, rgba(183, 28, 43, 1) 57.5%, rgba(241, 241, 241, 1) 56%);
    }
}

.second-opinion-card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    /* border: 1px dashed #fff;
    min-height: 165px; */
}


.banner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.banner-container .main-heading h2{
    font-size: 42px;
    font-weight: 700;
}

.banner-container .main-heading span{
    font-size: 35px;
    font-weight: 600;
    color: #656565;
}

.banner-container .main-heading p{
    font-size: 20px;
    font-weight: 600;
    color: #767779;
    line-height: 25px;
}

/* .banner-form {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 15px 20px;
    position: relative;
    width: 100%;
    margin-left: auto;
} */

.banner-form h2 {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    color: #2c67b2;
    margin-bottom: 5px;
}

.banner-form p {
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 16px;
    color: #464646;
    font-weight: 400;
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
}

.contact-form-with-icons .form-group {
    margin-bottom: 24px;
    margin-bottom: 1.6rem;
}

.form-group {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.contact-form-with-icons .form-group .form-control,
.contact-form-with-icons .form-group .form-select {
    background-color: #f7f7f7;
}

.form-group-icon .form-control,
.form-group-icon .form-select {
    padding: 6px 12px 6px 35px;
}

.form-group-noicon .form-control {
    padding: 6px 12px 6px 12px;
}

.field-icon img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 30px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.second-opinion-card h3 {
    color: #b71c2b;
    font-size: 18px;
}

.second-opinion-card p {
    font-size: 15px;
    color: #000000;
}

.numbering h5 {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
    padding: 4px 11px;
    background: #b71c2b;
    color: #ffffff;
    position: relative;
}

.bottom-card::before {
    background: #b71c2b;
    content: '';
    position: absolute;
    top: 47%;
    right: 0;
    width: 68%;
    height: 2px;
}

.bottom-card img {
    width: 30px;
}

.second-opinion-section .banner-form .form-control,
.form-box .form-select,
.form-box .form-control {
    border: none;
}

.doctor-card {
    background: #e2f2ff;
    padding: 20px;
    border-radius: 5px;
}

.doctor-card .doctor-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.doctor-content h3 {
    font-size: 20px;
    color: #054870;
    margin-bottom: 4px;
}

.doctor-content h5 {
    font-size: 15px;
    font-weight: 600;
}

.owl-carousel .doctor-content li img {
    width: 25px;
    height: 25px;
}

.doctor-content ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.doctor-content li {
    font-size: 15px;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
}

.main-button {
    display: inline-block;
    background: #b71c2b;
    border: 1px solid #b71c2b;
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 30px;
    position: relative;
    text-align: center;
    transition: .5s;
}

.main-button:hover{
    background: #fff;
    border: 1px solid #b71c2b;
    color: #b71c2b;
}

.main-button i {
    color: #fff;
    font-size: 18px;
    position: absolute;
    background: #054870;
    width: 39px;
    height: 39px;
    border-radius: 30px;
    top: 1px;
    right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-section {
    background: #b71c2b url("../img/6186696.png") center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.secondary-btn {
    background: #b71c2b;
    color: #FFF;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 25px;
}

.testimonial-section .secondary-btn {
    padding: 0;
    background: none;
    border-radius: 0;
}

.tertiary-btn {
    background: #ffffff;
    color: #25d366;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #25d366;
}

.tertiary-btn i{
    font-size: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-btn i {
    color: #ffffff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-right-part {
    position: relative;
    margin-bottom: -125px;
}

.owl-carousel.testi-slider .owl-nav button.owl-next,
.owl-carousel.testi-slider .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: #fff !important;
    color: #b71c2b !important;
    padding: 6px 14px !important;
    position: absolute;
    left: -20%;
    transition: .5s;
}

.owl-carousel.testi-slider .owl-nav button.owl-next:hover,
.owl-carousel.testi-slider .owl-nav button.owl-prev:hover {
    background: #656565 !important;
    color: #ffffff !important;
}

.testi-slider .owl-prev {
    top: 38%;
}

.testi-slider .owl-next {
    top: 50%;
}

section.section.why-choose-section {
    background: url('../img/why-moc-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 0px;
}

.why-choose-card .card-content {
    width: 100%;
}

.why-choose-card .card-content h3 {
    color: #054870;
    font-size: 18px;
}

.why-choose-card .card-content p {
    font-size: 15px;
    color: #000000;
}

.why-choose-card .card-img img {
    width: 125px;
    margin-bottom: 15px;
}

.center-section {
    background: url('../img/center-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center-section .doctor-card {
    background: #fff;
}

.doctor-card .doctor-img img {
    height: 300px;
}

.center-section .doctor-card .doctor-img img {
    height: 245px;
}

.center-section .doctor-content p img {
    width: 15px;
}

.footer {
    background: #054870;
    padding: 50px 0;
}

.row.gap-2 .navbar-button {
    width: 45%;
}

.bottom-footer {
    background: #b71c2b;
    border-top: 1px solid #ffffff;
}

.border-left-custom {
    border-left: 1px solid #fff;
}

.banner-button-bottom object {
    width: 50px;
    height: 50px;
}

.banner-button-bottom .anchor-content p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 2px;
}

.banner-button-bottom .anchor-content h3 {
    font-size: 20px;
    color: #fccf0a;
    margin-bottom: 2px;
}

.main-list ul.cancer-box li::before {
    display: none;
}

.main-list ul.cancer-box {
    column-count: 2;
    column-gap: 40px;
    padding-left: 0px;
}

.main-list ul.cancer-box li {
    margin-bottom: 19px;
    border: 1px solid #054870;
    padding: 10px 10px;
    border-radius: 5px;
}

.main-list ul.cancer-box li img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.main-list ul.cancer-box li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
}

.profile-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: -20px;
    border: 1px solid #ffffff;
}

.book-consultaion-cta {
    background: #054870;
    border-radius: 7px;
    padding: 20px 40px;
    margin-top: 60px;
}

.book-cta-new {
    background: #fccf0a;
    padding: 5px 20px;
    display: inline-block;
    font-size: 30px;
    color: #054870;
    font-weight: 600;
    border: 1px solid #fccf0a;
    border-radius: 5px;
    transition: .5s ease-out;
}

.book-cta-new:hover {
    background: transparent;
    color: #fccf0a;
}

p.call-now-text {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    color: #fff;
}

p.call-now-text a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.border-middle-custom {
    width: 1px;
    height: 90px;
    background: #fff;
}

.profile-image-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-image-text p {
    font-size: 25px;
    color: #fff;
    margin-bottom: 0;
}

.button-cta-box {
    width: 45%;
}

.profile-image-text {
    width: 40%;
}

.profile-image {
    width: 70%;
}

.why-point-box {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background: #f1f1f1;
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 15px;
    gap: 10px;
}

.why-point-box .why-point {
    position: relative;
    background: #b71c2b;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    width: 50px;
    height: 85px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-point-box .why-point::before {
    content: '';
    position: absolute;
    top: 35px;
    right: -2px;
    width: 15px;
    height: 15px;
    background: #b71c2b;
    transform: rotate(45deg);
}


.why-content {
    width: 90%;
}

.why-content h3 {
    font-size: 20px;
    color: #b71c2b;
    margin-bottom: 5px;
}

.why-content p {
    font-size: 15px;
    color: #000000;
    margin-bottom: 0;
}

.cancer-type-section .main-list ul li {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.cancer-type-section .main-list ul li::before {
    display: none;
}

.cancer-type-section .main-list ul {
    padding-left: 0;
}

.cancer-type-section .main-list ul li span {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border: 1px solid #054870;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.cancer-type-section .main-list ul li span img {
    width: 50px;
}

.owl-carousel.media-coverage-slider button.owl-dot,
.owl-carousel.doctor-slider button.owl-dot {
    position: inherit;
    padding: 0 !important;
}

.doctor-slider.owl-theme .owl-dots .owl-dot.active span,
.doctor-slider.owl-theme .owl-dots .owl-dot:hover span,
.media-coverage-slider.owl-theme .owl-dots .owl-dot.active span,
.media-coverage-slider.owl-theme .owl-dots .owl-dot:hover span {
    background: #b71c2b;
    width: 25px;
    height: 9px;
}

.doctor-slider.owl-theme .owl-dots .owl-dot span,
.media-coverage-slider.owl-theme .owl-dots .owl-dot span {
    background: #f1f1f1;
    width: 9px;
    height: 9px;
    transition: .5s;
    margin: 4px;
}

.fixed-footer {
    display: none;
}

.fixed-footer a {
    color: #fff;
    font-size: 16px;
}

.fixed-footer-img img {
    width: 34px;
}

.owl-carousel .slider-item img {
    width: 100%;
    height: 355px;
    border-radius: 6px;
    object-fit: cover;
}

.consultation-bg {
    background: #e2f2ff url("../img/6186696.png") center/cover no-repeat;
}

.international-care-bg {
    background: #b71c2b url("../img/5826.png") center/cover no-repeat;
}

.form-box-wrap {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 6px;
}

.generic-content p {
    font-size: 17px;
    line-height: 22px;
    color: #000;
    margin-bottom: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.internation-logo-box {
    width: 25%;
    text-align: center;
}

.internation-logo-box img {
    width: 170px;
}

.internation-review-box {
    border-left: 2px solid #b71c2b;
    padding: 8px 6px 8px 20px;
    margin-bottom: 25px;
    transition: 0.5s ease;
}

.internation-review-box:hover {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.internation-review-box h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.internation-review-box p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.international-counter-section {
    background-image: url('../img/international-counter-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control::placeholder,
select.form-select {
    font-size: 14px;
}

.card-image img {
    transition: .3s ease-in;
}

.exellence-section .card-content {
    padding: 15px 20px 20px;
    background-color: #f7f7f7;
    width: 100%;
}

.card-content h4 {
    font-size: 18px;
    color: #b71c2b;
    font-weight: 600;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s ease;
}

.card-content p {
    font-size: 15px;
    color: #767779;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

.card:hover .card-image img {
    transform: scale(1.1);
}

.main-btn a {
    font-size: 16px;
    font-weight: 600;
    color: #b71c2b;
    border-bottom: 1px solid #b71c2b;
}

.owl-carousel.exellence-slider .owl-nav button.owl-prev,
.owl-carousel.exellence-slider .owl-nav button.owl-next,  
.owl-carousel.doctor-slider .owl-nav button.owl-prev,
.owl-carousel.doctor-slider .owl-nav button.owl-next{
    position: absolute;
    top: 45%;
    background: #f4f4f4;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav button.owl-next img,
.owl-carousel .owl-nav button.owl-prev img {
    width: 25px;
}

.owl-carousel.exellence-slider .owl-nav button.owl-prev, 
.owl-carousel.doctor-slider .owl-nav button.owl-prev {
    left: -55px;
}

.owl-carousel.exellence-slider .owl-nav button.owl-next, 
.owl-carousel.doctor-slider .owl-nav button.owl-next {
    right: -55px;
}

/* ================== */
.accordion-header span {
    font-size: 16px;
    font-weight: 500;
    color: #b71c2b;
    margin-bottom: 8px;
    line-height: normal;
}

.faq-section .accordion-body p,
.accordion-body p {
    color: #000;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 6px;
}

.accordion-item {
    border: none;
    background: none;
}

.accordion-header .accordion-button {
    background: none;
    box-shadow: none;
    padding: 5px;
}

.accordion-header {
    background: none;
    border: none;
    border-bottom: 1px solid #e7e0e0;
    margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
    background: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    content: '\f067';
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: none;
    background-color: #b71c2b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    content: '\f068';
    font-family: 'FontAwesome';
    background: none;
    background-color: #b71c2b;
    color: #ffff;
}

.faq-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ================== */

.service-section {
    background-image: url('../img/58624.png');
    background-size: cover;
}

.home-service-card {
    background: #f1f1f1;
    padding: 30px;
    box-shadow: none;
    /* margin-bottom: 20px;
    min-height: 290px; */
}

.home-service-card-image img {
    width: 45px;
    margin-bottom: 8px;
}

.home-service-card .home-service-content h3 {
    font-size: 20px;
    color: #b71c2b;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    border-bottom: 1px solid #b71c2b;
}

.home-service-card .home-service-content p {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

/* ============= Expert ============ */
.expert-section .expert-card .card {
    background: #fff;
    transition: .3s;
}

.expert-section .card .card-content {
    padding: 10px 15px 0px;
    text-align: center;
}

.expert-card:hover .card {
    background: #f5f5f5;
}

.expert-section .card-content h4 {
    font-size: 19px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 0px;
}

.expert-section .card-content p {
    font-size: 15px;
    color: #767779;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

.expert-section .card-content h5 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.from-btn .btn{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #b71c2b;
    padding: 8px 30px;
    font-weight: 500;
    border-radius: 30px;
    transition: .5s ease;
}
/* =============== */
.footer-call-to-action{
    position: relative;
    min-height: 450px;
    z-index: 1;
}
.footer-call-to-action{
    background-image: url('../img/935698.jpg');
    background-size: cover;
}
.footer-call-to-action .main-heading h2{
    font-size: 40px;
    font-weight: 700;
}
.whatapp-icon img {
    width: 27px;
}