@media (min-width: 1200px) {
    .banner-container {
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-44%, -55%);
        z-index: 1;
    }
}

@media only screen and (max-width: 1023px) {
    .mobile_primary {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 50px;
        left: -100%;
        background-color: #fff;
        transition: .5s;
        z-index: 999;
        display: block;
        padding: 0;
        border-radius: 0;
        float: none;
        overflow-y: auto;
        margin-left: 0;
    }

    .mobile_primary.active {
        display: block !important;
        left: 0;
    }

    .mobile_primary ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .mobile_primary ul.menu-navigation {
        position: relative;
        height: calc(100vh - 50px);
        padding-bottom: 54px;
        overflow: scroll;
    }

    .mobile_primary li:first-child {
        border-top: none;
    }

    .mobile_primary ul li {
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        background: none;
        border-bottom: 1px solid #dbdbdb;
    }

    .mobile_primary ul li a {
        padding: 10px;
        color: #000;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        line-height: 15px;
    }

    .sub-menu-button::after {
        content: '\f0da';
        font-family: 'FontAwesome';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: normal;
        transition: all.5s ease-in-out;
        color: #fff;
    }

    .sub-menu-button::after {
        transform: rotate(0deg);
    }

    .sub-menu-button.open::after {
        transform: rotate(90deg);
        color: #fff;
    }

    .menu-button {
        position: relative;
        top: 0;
        right: 0;
        display: block;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        transition: all .3s ease;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        padding: 0;
        z-index: 9999;
        margin-top: 0;
        scale: .75;
    }

    .menu-button .toggle-bar {
        width: 35px;
        height: 3px;
        background-color: #000;
        display: block;
        margin: 6px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .menu-button.toggle .toggle-bar:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        -ms-transform: translateY(11px) rotate(45deg);
        -o-transform: translateY(11px) rotate(45deg);
        -moz-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
    }

    .menu-button.toggle .toggle-bar:nth-child(2) {
        opacity: 0;
    }

    .menu-button.toggle .toggle-bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}


@media (max-width: 768px) {
    .banner-container{display: none;}
    .menu__cta {
        display: none;
    }

    .banner-layout {
        margin-top: 0;
    }

    .conference-content h2 {
        font-size: 22px;
        line-height: 25px;
    }

    .conference-content p {
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 6px;
    }

    .countdown_value {
        font-size: 18px;
    }

    section.section {
        padding: 30px 0;
    }

    .sec__title h1 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .sec__title h5 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }

    .content__box p {
        font-size: 15px;
        line-height: 24px;
    }

    .sec__title p {
        font-size: 15px;
        margin-bottom: 10px;
        text-align: center;
    }

    .top__section span {
        font-size: 16px;
    }

    .sticky-bar {
        background-color: #c71d22;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 99;
        padding: 10px 15px;
        color: #fff;
    }

    .sticky-bar a {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        text-align: center;
        display: block;
    }

    .sticky-bar {
        display: block;
    }
    .content__box h2{text-align: center;}
    .countdown-item:first-child{
        padding-right: 25px;
        margin-right: 0;
    }
    .countdown_text{
        font-size: 14px;
    }
}