*, html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*, ::before, ::after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li{
  margin: 0;
  padding: 0;
}
a{text-decoration: none; color: #b6b6b6;}

/* ==== Main menu ==== */

.topheader{
  background-color: #b61c2b;
  padding: 6px 0;
}
.header-contact ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-contact ul li {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
}
.header-contact li a{
  color: #fff;
  font-size: 15px;
  line-height: normal;
}
.header-contact ul li i{
  margin-right: 8px;
  font-size: 20px;
  line-height: normal;
}
.header-menu{
 background-color: #f0f2f1;
 padding: 6px 0;
}
.header-menu-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky-active{
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  width: 100%;
}
.navbar-brand img{
  width: 180px;
}
.mobile_primary {
  position: relative;
  transition: all .6s;
  padding: 0;
  z-index: 9999;
}
.mobile_primary ul{
  margin: 0;
  padding: 0;
}
.mobile_primary ul li{
  cursor: pointer;
  display: inline-block;
}
.mobile_primary ul li a{
  color: #444444;
  margin: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 99;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  transition: all .6s;
}
.menu-button{
  display: none;
}

/* ======= menu end ======== */
section.section{
  padding: 40px 0;
  position: relative;
}
.btn-rounded{
  border-radius: 35px;
}
.btn-cta{ border: 0.25px solid #fcbfc5 !important;}
.btn-danger{background-color: #b61c2b;}
.btn-outline-danger:hover{
  background-color: #b61c2b;
}
.fs-7{font-size: 0.960rem !important;}

.banner-box h2 {
    display: inline-block;
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 8px;
    line-height: 30px;
}
.banner-box p {
    font-size: 33px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: 600;
}
.banner-layout {
    padding: 30px 0;
    position: relative;
    margin-top: -144px;
    z-index: 9;
}
.banner-layout-bg {
    background-color: rgb(182 28 43 / 90%);
}
.conference-content h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 40px;
}
.conference-content p {
    color: #fff;
    margin-bottom: 0;
    font-size: 15px;
}
.countdown-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 0 0 auto;
    width: 22%;
}
.countdown-item:first-child {
    border-right: 0.25px solid #fff;
    padding-right: 45px;
    margin-right: 15px;
}
.countdown_value {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
}
.countdown-item span {
    display: inline-block;
}
.countdown_text {
    font-size: 18px;
    color: #fff;
}
.sec__title h1{
  font-size: 42px;
  margin-bottom: 12px;
  font-weight: 700;
  color: #404040;
  text-transform: uppercase;
}
.sec__title h5{
  font-size: 22px;
  font-weight: 500;
  color: #404040;
}
.sec__title p{
  font-size: 16px;
  font-weight: 500;
  color: #404040;
}
.content__box p{
  font-size: 17px;
  color: #000;
  margin-bottom: 6px;
  line-height: 26px;
}
.image__box img{width: 100%;}
.section__objective{background-color: #f0f2f1;}
.content__box__list ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.content__box__list ul li{
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  padding-bottom: 3px;
}
.content__box__list ul li::before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #b61c2b;
  border-radius: 50%;
  top: 9px;
  left: 0;
}
.content__box h2{
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}
.footer-copyright{background-color: #b61c2b;}
.footer-copyright p{color: #fff; font-size: 15px;}
.top__section, .section__bg{ background-color: #f0f2f1; }
.top__section span{
  background-color: #b61c2b; 
  display: inline-block; 
  padding: 4px 20px; 
  color: #fff;
  font-size: 18px;
}
.event__section table th{font-weight: 600;}
.event__section table th, .event__section table td{ color: #666666;}
.event__section table td ul{list-style: disc; padding-left: 20px; color: #666666; margin-bottom: 0;}
.img-thumbnail.img-thumbnail-no-borders{
  border: none;
  padding: 0;
}
.img-thumbnail.img-thumbnail-hover-icon {
    position: relative;
}
.img-thumbnail.img-thumbnail-hover-icon::before {
  transition: all 0.2s;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
}
.img-thumbnail.img-thumbnail-hover-icon::before{
  /* border-radius: 0; */
}
.img-thumbnail.img-thumbnail-hover-icon:hover::before {
  opacity: 1; 
}
.img-thumbnail.img-thumbnail-hover-icon::after {
  transition: all 0.2s;
  font-family: 'Fontawesome';
  font-weight: 900;
  color: #FFF;
  content: "\f06e";
  font-size: 18px;
  height: 30px;
  position: absolute;
  top: 30%;
  margin-top: -15px;
  display: block;
  text-align: center;
  width: 100%;
  opacity: 0;
  z-index: 3;
}

.img-thumbnail.img-thumbnail-hover-icon::after {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b61c2b;
    color: #fff;
    border-radius: 50%;
    left: 50%;
}
.img-thumbnail.img-thumbnail-hover-icon:hover::after{
    top: 50%;
    opacity: 1;
}
.sticky-bar{display: none;}
.floating-widgets {
  position: fixed;
  right: 25px;
  bottom: 50px;
  z-index: 99999;
}
.float-widget-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}